.App{
  max-width: 800px;
  margin: auto;
  min-height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.app-back{
  height: 100%;
}
.time{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10px; 
  color: #969494;
}
label{
  width: 6%;
  display: inline-block;
}
input,textarea{
  width: 90%;
  border-radius: 2px;
  height: 30px;
}
textarea{
  height: 60px;
}
.formDiv{
  margin-top: 10px; 
}
input[type='submit']{
  margin-left: 20px;
  background-color: #00B7FF; 
  border: 1px solid #00B7FF;
  color: #FFFFFF;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 2px;
}
.bordercss{
  width: 900px;
  border: 1px solid red;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
