.box{
    border: 1px solid rgba(184, 182, 182, 0.89);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex; /*竖向排列*/
    flex-direction: column;
    background-color: #FFFFFF; 
    margin-top: 10px;    
    margin-bottom: 10px; 
}
.image{
    border-radius: 50%;
    height: 33px;
    width: 33px;
}
.content{
    display: flex; /*横向排列*/
    flex-direction: row; 
    margin: 5px 0px;
}
.header{
    margin-right: 10px;
    font-size: 12px;
    color: #969494;
}
.header-font{
    font-weight: 900;
    font-size: 14px;
    color: #000000;
}
.content-main{
    text-indent: 34px; /* 首行缩进*/
    font-size: 15px;
}
